*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

body{
    background-color: rebeccapurple;
    display: grid;
    place-items: center;
    height: 100vh;
}


.logout-btn{
    border: none;
    background-color: rgb(255, 71, 71);
    color: #fff;
    height: 25px;
    width: 50px;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: grabbing;
    align-content: center;
}


#topnav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: Black;
    
 }
 
 .nav-link {
    display: inline-block;
    width: 13%;
    height: 100%;
    color: White;
   text-align: right;
    line-height: 55px;
    text-decoration: none;
    font-family: sans-serif;
font-size: 10px;
 }
 
 #logo {
    width: 120px;
     font-weight: bold;
     font-family: cursive;
     font-size: 20px;
 }
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#searchbar {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    box-sizing: border-box;
}

#list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: red;
    font-family: "Patrick Hand SC", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.things {
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    animation: fadeIn 0.5s ease-in-out;
}

.things:last-child {
    border-bottom: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

a{
    color: yellow;
  
}
